aiofiles
fastapi
guessit
httpx
itsdangerous
Jinja2
motor
parse-torrent-name
parse-torrent-title
pyrofork
python-dotenv
python-multipart
pytz
rapidfuzz
tgcrypto
themoviedb
uvicorn
uv
uvloop; sys_platform != "win32"
httptools; sys_platform != "win32"
