# Startup Config
API_ID = ""
API_HASH = ""
BOT_TOKEN = ""
HELPER_BOT_TOKEN = ""
OWNER_ID = ""
REPLACE_MODE = "true"
HIDE_CATALOG = "false"
PARALLEL = "1"
PRE_FETCH = "1"
CHUNK_SIZE_KB = "1024"
ADAPTIVE_CHUNK = "true"
LEGACY_FALLBACK_STREAM = "true"

# STORAGE
AUTH_CHANNEL = ""
DATABASE = ""

# API
TMDB_API = ""

# SERVER 
BASE_URL = ""
PORT = "8000"
UVICORN_KEEPALIVE = "20"
UVICORN_BACKLOG = "1024"
UVICORN_CONCURRENCY = "80"

# Update
UPSTREAM_REPO = "https://github.com/weebzone/Telegram-Stremio"
UPSTREAM_BRANCH = "master"

# Admin Pannel
ADMIN_USERNAME = "fyvio"
ADMIN_PASSWORD = "fyvio"

# Additional CDN Bots
# MULTI_TOKEN1 = ""


